<!-- <mat-divider></mat-divider> -->
<mat-card class="black-card">
  <div class="flex-container">
    <mat-icon>{{icon_header}}</mat-icon>
    <h2>{{title_header}}</h2>
  </div>
</mat-card>

<mat-card>

  <div class="graph">
    Welcome!
  </div>

  <!-- Chart Doughnut -->
  <div class="chartContainer">
    <canvas id="canvas-doughnut" width="400" height="400">
      {{ chartDoughnut}}
    </canvas>
  </div>

  <!-- Chart Bar -->
  <div class="chartContainer">
    <canvas id="canvas-bar" width="400" height="400">
      {{ chartBar}}
    </canvas>
  </div>

</mat-card>
